.env
.env.*
.git/
.DS_Store

**/__pycache__/
**/*.py[cod]
**/.pytest_cache/

rag/.env
rag/.env.*
rag/qdrant_storage/
rag/data/
rag/experiments/

agent/.venv/
agent/.pytest_cache/
agent/.idea/

agent_ai_app_interview_prep.html
