fastapi
python-multipart
uvicorn[standard]
python-dotenv

langchain
langchain-community
langchain-openai
langchain-ollama
langchain-qdrant
langchain-text-splitters
rank_bm25

qdrant-client
markdown
pypdf
unstructured
